
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* Main Content Styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagecarousel {
    position: relative;
}
.image {
    display: none;
}
.image:first-of-type {
    display: block;
}
.image img {
    border-radius: 5px;
    max-height: 600px;
}
.prev,
.next {
    font-size: 24px;
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: #4f4f4f49;
    padding: 2vh;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev {
    left: 10px;
    border-radius: 0px 5px 5px 0px;
}
.next {
    right: 10px;
    border-radius: 5px 0px 0px 5px;
}
.prev:hover,
.next:hover {
    color: #d8d6d6;
    background-color: #333333;
    transition: all 300ms ease;
}
.dots {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.dot {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
}

